.addons {
    display: flex;
    justify-content: space-evenly;
    animation: floatAnimation 3s infinite alternate ease-in-out;
    margin-top: 35px;
    cursor: pointer;
}

.simple img {
    width: 270px;
    height: 170px;
}

.Value h3 {
    margin-left: 70px;
}

.Value p {
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.add_img img {
    max-width: 100%;
    height: auto;
}

@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}