.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: none;
}

.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.449);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card-content {
    padding: 15px;
}

.hotel-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.location {
    font-size: 16px;
    color: #27ae60;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #5261c3;
}

.extra {
    display: flex;
    justify-content: center;
}

.AmenitiesSection_item__sB19R {
    display: flex;
    align-items: center;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    padding: 10px;
    justify-content: center;
}

.card-content span {
    color: #3437db;
}

.extra {
    padding: 2px;
}

.extra #avg {
    color: #27ae60;

}

.addons {
    display: flex;
    justify-content: space-evenly;
}

.simple img {
    width: 270px;
    height: 170px;
}

.Value h3 {
    margin-left: 70px;
}

.Value p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}