* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
}

.navbar {
    background-color: #333;
    padding: 10px;
    height: 80px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo img {
    max-height: 40px;
    filter: drop-shadow(10px 10px 7px rgba(255, 255, 255, 0.186));
    cursor: pointer;
}

.logo img:hover {
    filter: drop-shadow(10px 10px 10px rgba(166, 156, 42, 0.304));
}

.logo {
    cursor: pointer;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
}

.menu li:hover {
    transform: scale(1.05);
    transition: .3s;
}

.menu a {
    text-decoration: none;
    color: white;
    /* border-radius: 20px; */
    padding: 5px;
}

.menu a:hover {
    border-bottom: 1px solid white;
    filter: drop-shadow(3px 3px 5px white);
    transition: .2s;
}

.log button {
    margin: 10px;
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(43, 64, 147);
    cursor: pointer;
}

.log button a {
    text-decoration: none;
    color: white;
}

.log button:hover {
    background-color: 5261c3;
    filter: drop-shadow(3px 3px 5px white);
    transform: scale(1.05);
    transition: .3s;
}